.vscode/
audio/
cache/
gui/
images/
saves/
scripts/
/00auto-highlight.rpy
/00warper.rpy
/ActionEditor.rpy
/ActionEditor_config.rpy
/ActionEditor_screens.rpy
/album.rpy
/ATL_functions.rpy
/Beware.ttf
/BubblegumSans.ttf
/BubblegumSans-Regular.otf
/gui.rpy
/image_viewer.rpy
/keymap.rpy
/menu_screen.rpy
/OFL.txt
/options.rpy
/screen album.txt
/screens.rpy
/script_version.txt
/ShortBaby.ttf
/sound_viewer.rpy
/TekturSBold.ttf
*.rpyc
*.zip
*.xcf
